<article>
  <figure class="row">
    <div class="small-6 columns">
      <img src="{{article.image}}" alt="{{article.title}}">
    </div>
    <figcaption class="small-6 columns">
      <a href="">
        <h2>{{article.title}}</h2>
        <p>{{article.shortDescription}}</p>
        <button>Explore more</button>
      </a>
    </figcaption>
  </figure>
</article>
