<article>
  <figure>
    <img src="{{article.image}}" alt="{{article.title}}">

    <figcaption>
      <h3>{{article.title}}</h3>
      <p class="category">{{article.category}}</p>
      <p>{{article.shortDescription}}</p>
      <p class="author">
        <i>by</i>
        <strong>{{article.author}}</strong>
      </p>
      <div class="campaign-loading">
        <div [ngStyle]="article.score < 100 ? {width: article.score + '%'} : {width : '100%'}" class="line-complete"></div>
      </div>
      <p class="campaign-sum">${{article.sum}}
        <small>USD raised</small>
      </p>
      <p class="campaign-procent">{{article.score}}%</p>
      <a href="/home/product">
        <button>Donate Here</button>
      </a>
    </figcaption>
  </figure>
</article>
