<section class="subscribe">
  <h2>Find it first on CrowdBeat</h2>
  <p>Discover projects just for you and get great recommendations when you select your interests.</p>
  <p>Discover projects just for you.</p>

  <div class="row align-center">
    <form >
      <fieldset>
        <input class="medium-6 columns" placeholder="Insert email" type="email" id="email_subscribe">
        <button class="medium-6 columns" type="submit" class="btn">Subscribe</button>
      </fieldset>
    </form>

  </div>

</section>
