.article-menu
  figure
    position: relative
    figcaption
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 70%
      height: 40%
      margin: auto
      text-align: center

      h2
        font-size: rem(30px)
      p
        margin: rem(20px) 0
      a
        font-weight: 500

