.campaigns
  .row
    @include flex-grid-row(null, 85%, null, null, null)
  article
    margin: 0
    figure
      border: $base-border
      img
        height: rem(250px)
        margin: 0
      figcaption
        padding: rem(10px) rem(20px)
        text-align: left

        .category
          font-size: rem(12px)
          text-transform: uppercase
          margin: rem(10px) 0
          text-decoration: underline
        p
          margin: rem(5px) 0
        .author
          font-size: rem(12px)
          margin: rem(15px) 0
          i
            margin: 0 rem(5px)

        button
          display: block
          //width: 100%
          margin: rem(10px) 0


        .campaign-sum, .campaign-procent
          display: inline-block
          font-weight: 500
          font-size: rem(20px)
          text-transform: uppercase
          small
            font-size: rem(12px)
            margin: 0 rem(5px)

        .campaign-procent
          float: right

.campaign-loading
  width: 100%
  background-color: $light-gray
  margin: rem(15px) 0
  .line-complete
    background-color: $black
  .campaign-loading , .line-complete
    height: rem(5px)
