.categories
  img
    width: rem(100px)
    display: block
    margin: 0 auto
    padding: rem(20px)
  a
    text-decoration: none
    font-weight: 500
    &:hover
      color: shade($light-gray, 60%)
  .columns
    margin: rem(10px) 0
  p
    margin: 0!important
    a
      text-decoration: underline
      font-weight: normal

