.finished-projects
  position: relative
  .row
    @include flex-grid-row(null, 85%, null, null, null)
  article
    figure
      .columns
        padding: 0
      img
        height: rem(300px)
      figcaption
        height: rem(300px)
        border: $base-border
        border-left: none
        color: $black
        text-align: left
        padding: rem(25px) rem(20px)!important
        overflow-y: hidden
        h2
          font-size: rem(20px)
          font-weight: 500
        p
          margin: 0
        a
          text-decoration: none
          button
            margin: rem(20px) 0 rem(5px)


