.owl-carousel
  .owl-stage-outer
    width: 100%
  .item
    height: rem(450px)

    figure
      figcaption
        max-width: rem(400px)
        color: white
        font-weight: 500
        position: absolute
        bottom: 20%
        left: 10%
        .category
          font-size: rem(12px)
          text-transform: uppercase
          letter-spacing: rem(1px)
        .title
          font-size: rem(26px)
        .description
          font-size: rem(16px)
        .line
          border-bottom: 1px solid $white
          margin: rem(12px) 0
        a
          color: $white
          text-transform: uppercase
          letter-spacing: rem(1px)
          font-size: rem(12px)

  .owl-nav
    position: absolute
    bottom: 8%
    left: 10%
    .owl-prev, .owl-next
      padding: rem(5px) rem(12px)
      background-color: transparent
      border: $base-border
      border-radius: 50%
      margin: 0 rem(10px) 0 0
      i
        color: $white
        font-size: rem(18px)
        margin: 0 auto

