.subscribe
  form
    width: 100%
    margin-top: rem(30px)
    input, button
      display: inline
      width: 50%
      text-align: center
      margin-bottom: rem(10px)
  p
    margin: 0!important
