<mat-card class="backing-card">
  <mat-card-header>
    <mat-card-title>Pledge {{pledge.sum}} or more</mat-card-title>
    <mat-card-subtitle class="backers">
      <p>
        <i class="fa fa-heart-o" aria-hidden="true"></i>{{pledge.bakers}} bakers</p>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{pledge.image}}" alt="Pledge {{pledge.sum}}">
  <mat-card-content>
    <p>{{pledge.description}}</p>
    <p class="date-backing">Estimated delivery: {{pledge.delivery}}</p>
    <button class="full-btn">Select this reward</button>
  </mat-card-content>

</mat-card>
