$_button-background-color: $black;
$_button-background-color-hover: shade($action-color, 5%);

#{$all-buttons},
.btn {
  background-color: $_button-background-color;
  border: 1px solid $black;
  border-radius: $base-border-radius;
  color: contrast-switch($_button-background-color);
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: shade($black, 5%);
    color: $white;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: shade($light-gray, 5%);
    }
  }
}

.btn-primary {
  background-color: $white;
  color: $black;
  border: $base-border;
  border-color: $black;
  padding: $small-spacing $base-spacing;

  &:hover {
    background-color: $white;
    color: $black;

    border-color: $black;
  }
}
.full-btn {
  width: 100%;
}
