ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
li{
  display: inline;
  cursor: pointer;
  margin: 0 rem(10px);
}
