figure {
  margin: 0;
  height: 100%;
  position: relative;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.image {
  position: relative;
  height: 100%;
  &:after {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 100%;
  }
}
