.category-header
  margin: 0
  position: relative
  img, .image
    height: rem(200px)
  .img
    background: url('/assets/images/header/header-category.jpg') no-repeat fixed center
    background-size: cover
    height: 100%
  figcaption
    position: absolute
    top: 25%
    left: 0
    right: 0
    color: $white
    h2
      font-size: rem(45px)
      margin: 0
    p
      font-size: rem(25px)
