.pagination
  font-size: rem(14px)
  font-weight: 500
  color: $black
  text-transform: uppercase
  .mat-select
    text-align: center
  button
    background: transparent
    color: $black
    &:hover
      background-color: shade($light-gray, 5%)
      color: $white
