<figure>
  <div class="image">
    <img src="{{item.image}}" alt="">
  </div>

  <figcaption>
    <p class="category">{{item.category}}</p>
    <div class="line"></div>
    <p class="title">{{item.title}}</p>
    <p class="description">{{item.shortDescription}}</p>
    <a href="">See campaign</a>
  </figcaption>
</figure>
