<header>
  <nav>
    <ul class="left-menu">
      <li><a href=""><img class="logo" src="assets/images/logo/logo-1.png" alt=""></a></li>
      <li><a href="">Explore<i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <div class="explore-submenu">
        <div class="row align-left">
          <div class="small-3 columns">
            <h2>Tech & innovation</h2>
            <ul>
              <li><a href="">What we do</a></li>
              <li><a href="">Funding</a></li>
              <li><a href="">Marketplace</a></li>
              <li><a href="">Investing</a></li>
              <li><a href="">Generosity</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <h2>Creative work</h2>
            <ul>
              <li><a href="">What we do</a></li>
              <li><a href="">Funding</a></li>
              <li><a href="">Marketplace</a></li>
              <li><a href="">Investing</a></li>
              <li><a href="">Generosity</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <h2>Creative work</h2>
            <ul>
              <li><a href="">What we do</a></li>
              <li><a href="">Funding</a></li>
              <li><a href="">Marketplace</a></li>
              <li><a href="">Investing</a></li>
              <li><a href="">Generosity</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <a href="">
              <img src="assets/images/articles/article-8.jpg" alt="">
            </a>
          </div>
        </div>
        </div>
      </li>
      <li><a href="">What we do</a></li>
      <li><a href=""><i class="fa fa-globe" aria-hidden="true"></i>Start a Campaign</a></li>
      <li><a href=""><i class="fa fa-shopping-bag" aria-hidden="true"></i>Marketplace</a></li>
    </ul>

    <ul class="right-menu">

      <li><a href="">Log in</a></li>
      <li class="line"></li>
      <li><a href="">Sing up</a></li>

      <li>En<i class="fa fa-angle-down" aria-hidden="true"></i>
        <ul class="submenu">
          <li><a href="">Ro</a></li>
          <li><a href="">Ru</a></li>
        </ul>
      </li>

      <li>
        <form action="">
          <input placeholder="Search" type="text">
          <button>
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>

        </form>
      </li>
    </ul>


  </nav>

</header>
