.product-page
  .tab-content
    text-align: left
    h2
      font-size: rem(24px)
    p
      text-align: justify
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      margin-bottom: rem(5px)
    img
      margin: rem(30px) 0
      height: auto
      max-height: rem(550px)
  .backing-card
    border: $base-border
    box-shadow: none!important
    margin: rem(10px) 0
    mat-card-title
      text-align: left
      font-size: rem(22px)
      font-weight: 500
    p
      margin: rem(10px) 0
    .date-backing
      font-weight: 500
      font-size: rem(12px)
      text-transform: uppercase
      margin: rem(15px) 0
      text-align: center
    .backers
      font-size: rem(14px)
      i
        padding-right: rem(10px)
    img
      height: rem(200px)
      margin: 0
