.product-page
  h2
    font-size: rem(35px)
    margin: 0
  .description
    font-size: rem(18px)
    margin: rem(15px) 0 rem(25px)
  h2, p, .author
    text-align: left
  .author
    margin: rem(20px) 0
    img
      width: rem(40px)
      height: rem(40px)
      border-radius: 50%
      vertical-align: middle
    img, p
      display: inline
      margin: 0 rem(5px)
    p
      font-size: rem(14px)
      small
        font-size: rem(12px)
  img
    height: rem(400px)

  .sum
    font-size: rem(35px)
    font-weight: 500
  .sum-description
    font-size: rem(16px)
    margin-bottom: rem(20px)
  .project-statistics
    text-align: left
    p
      font-size: rem(14px)
      text-transform: uppercase
      display: inline
      font-weight: 500
      margin-bottom: rem(10px)
      padding-right: rem(20px)
    i
      padding-right: rem(5px)
  ul, .btn-primary
    display: inline-block
    margin: rem(10px) 0
  .btn-primary
    i
      padding: 0 rem(5px)
  .info-project
    font-size: rem(11px)
    text-align: left
    margin: rem(5px)
