<section class="category-header">
  <figure>
    <div class="image">
      <div class="img"></div>
    </div>
    <figcaption>
      <h2>{{category.title}}</h2>
      <p>{{category.description}}</p>
    </figcaption>
  </figure>
</section>

