section
  text-align: center
  margin: rem(35px) 0
  h2
    font-size: rem(30px)
    margin-bottom: rem(20px)
  p
    margin: 0
    &:last-of-type
      margin: rem(10px) 0 rem(35px)
    a
      font-size: rem(18px)

