@import '~@angular/material/theming';
@include mat-core();
$candy-app-primary: mat-palette($mat-grey);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);
$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);
@include angular-material-theme($candy-app-theme);
@import '~foundation-sites/scss/foundation.scss';
@import '~animate.css/animate.min.css';
@import '~font-awesome/css/font-awesome.min.css';

@import 'bourbon/bourbon';
@import 'foundation/foundation';
@import 'owl-carousel/owl.carousel';
@import 'owl-carousel/owl.theme.default';
@import 'mixins/mixins';
@import 'fonts/fonts';
