<div class="tab-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem debitis facilis itaque mollitia nesciunt obcaecati perferendis
    quam quos sint? Commodi distinctio harum nobis nulla numquam officia quam quidem tempore!</p>
  <img src="https://images.unsplash.com/photo-1456613820599-bfe244172af5?auto=format&fit=crop&w=2553&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"
    alt="">
  <h2>Here is the metal projects with soul.</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque blanditiis dolores eius enim et fuga harum laudantium
    magnam, maxime provident quaerat quam quia quisquam recusandae reiciendis temporibus veniam vitae? Lorem ipsum dolor
    sit amet, consectetur adipisicing elit. Aliquid atque blanditiis dolores eius enim et fuga harum laudantium magnam, maxime
    provident quaerat quam quia quisquam recusandae reiciendis temporibus veniam vitae? Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Aliquid atque blanditiis dolores eius enim et fuga harum laudantium magnam, maxime provident quaerat
    quam quia quisquam recusandae reiciendis temporibus veniam vitae? Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Aliquid atque blanditiis dolores eius enim et fuga harum laudantium magnam, maxime provident quaerat quam quia
    quisquam recusandae reiciendis temporibus veniam vitae?
  </p>

  <img src="https://images.unsplash.com/photo-1502021680532-838cfc650323?
      auto=format&fit=crop&w=2551&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="">
  <h3>In the new digital world, at the decline of the industrial age, we value real things.</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque blanditiis dolores eius enim et fuga harum laudantium
    magnam, maxime provident quaerat quam quia quisquam recusandae reiciendis temporibus veniam vitae? Lorem ipsum dolor
    sit amet, consectetur adipisicing elit. Aliquid atque blanditiis dolores eius enim et fuga harum laudantium magnam, maxime
    provident quaerat quam quia quisquam recusandae reiciendis temporibus veniam vitae? Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Aliquid atque blanditiis dolores eius enim et fuga harum laudantium magnam, maxime provident quaerat
    quam quia quisquam recusandae reiciendis temporibus veniam vitae? Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Aliquid atque blanditiis dolores eius enim et fuga harum laudantium magnam, maxime provident quaerat quam quia
    quisquam recusandae reiciendis temporibus veniam vitae?
  </p>
</div>
