<app-home-category-header [category]="category"></app-home-category-header>
<section class="campaigns">
  <div class="row align-center">
    <app-home-campaign  *ngFor="let article of campaigns" [article]="article"
                       class="small-4 columns"></app-home-campaign>
  </div>

  <div class="row align-right">
    <mat-paginator class="pagination"
                   [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPaginateChange($event)"
    ></mat-paginator>
  </div>


</section>

