<app-home-carousel [items]="articles"></app-home-carousel>
<app-home-campaigns [articles]="campaigns"></app-home-campaigns>
<app-home-categories></app-home-categories>
<app-home-finished-projects [finishedArticles]="finishedProjects"></app-home-finished-projects>
<app-home-sing-up-form></app-home-sing-up-form>
