<section class="product-page row">

  <div class="small-12 columns">
    <h2>The Making Room</h2>
    <p class="description">Dive deep with master choreographers Bebe Miller and Susan Rethorst as they share the processes and products of their
      dance-making.
    </p>


  </div>

  <div class="large-8 medium-12 small-12 columns">
    <img src="assets/images/articles/article-8.jpg" alt="">
  </div>
  <div class="columns">
    <p class="sum">$15,165</p>
    <p class="sum-description">pledged of $12,000 goal</p>
    <div class="campaign-loading">
      <div style="width: 80%" class="line-complete"></div>
    </div>
    <div class="project-statistics">
      <p>
        <i class="fa fa-heart-o" aria-hidden="true"></i>218 backers</p>
      <p>
        <i class="fa fa-clock-o" aria-hidden="true"></i>22 days ago</p>
    </div>

    <div class="author">
      <img src="https://images.unsplash.com/photo-1505033852907-44fe8ec1e170?
          auto=format&fit=crop&w=1233&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="" />
      <p>
        <small>by</small>
        Bebe Miller
      </p>
    </div>
    <button class="full-btn">Back this project</button>
    <button class="full-btn btn-primary">
      <i class="fa fa-flag" aria-hidden="true"></i>Remind me</button>

    <ul class="social-icons">
      <li>Share:</li>
      <li>
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-google" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <p class="info-project">This campaigns will receive all funds raised even it does not reach it goals</p>
  </div>

  <div class="small-12 columns">
    <mat-tab-group headerPosition="top below" class="tab-group">
      <mat-tab class="tab-bar" label="Campaign">
        <app-home-content-project-box></app-home-content-project-box>
      </mat-tab>

      <mat-tab label="Backing">
        <div class="row">
          <app-home-pledge-box *ngFor="let pledge of pledges" [pledge]="pledge" class="large-4 medium-6 small-12 columns"></app-home-pledge-box>
        </div>

      </mat-tab>
      <mat-tab class="comments" label="Comments">

        <!-- <app-home-comments></app-home-comments>
        <app-home-comments></app-home-comments>
        <app-home-comments></app-home-comments>
        <app-home-comment-form></app-home-comment-form> -->

      </mat-tab>
    </mat-tab-group>

  </div>
</section>
