<section class="campaigns">
  <h2>Nearly funded</h2>
  <p>Discover projects just for you and get great recommendations when you select your interests.</p>
  <p>Discover projects just for you and get great</p>
  <p>
    <a href="home/projects">Explore more</a>
  </p>

  <div class="row align-center">
    <app-home-campaign *ngFor="let article of articles" [article]="article" class="column"></app-home-campaign>
  </div>
</section>
