nav
  padding: rem(20px)
  font-weight: 500
  border-bottom: $base-border
  .left-menu, .right-menu
    display: inline-block
  form
    display: inline-block
    button
      background: transparent
      color: $black
      padding: 0
      border: none
    input
      display: inline
      margin: 0 rem(5px)
  .left-menu
    img
      margin: 0 rem(20px)
      vertical-align: middle
    .logo
      width: rem(60px)
      max-height: rem(40px)
    li
      padding: rem(25px) 0
  .right-menu
    float: right
    display: table-cell
    vertical-align: middle
    li
      position: relative
  .line
    border-left: $base-border
    margin: 0
  .submenu
    position: absolute
    background-color: $white
    right: 0
    z-index: 2
    padding: rem(10px)
    display: none
    li
      display: block
      margin: 0
      padding: rem(5px) rem(10px)
      top: 0
      a:hover
        text-decoration: underline
  .explore-submenu
    position: absolute
    display: none
    border: $base-border
    width: 100%
    top: rem(68px)
    z-index: 2
    left: 0
    right: 0
    background-color: $white
    padding: rem(45px) rem(20px)
    img
      width: 100%
    ul > li
      display: block
      font-weight: 400
      padding: rem(2px) 0
      a:hover
        text-decoration: underline
    h2
      margin-bottom: rem(10px)

  ul
    vertical-align: middle
    li
      padding: rem(8px) 0
      cursor: auto
      &:hover
        .submenu, .explore-submenu
          display: block
      i
        padding: 0 rem(10px)
  a
    text-decoration: none

