footer
  background-color: shade($black, 5%)
  color: $white
  padding: rem(50px) 0 rem(20px)
  ul
    li
      display: block
    a
      color: $white
      text-decoration: none
      &:hover
        text-decoration: underline
        color: $white
    .li-title
      font-size: rem(16px)
      font-weight: 500
      margin-bottom: rem(10px)
      cursor: auto

  .social-footer
    text-align: right
  hr
    width: 80%
    margin: rem(40px) auto rem(20px)

  .info-footer
    li
      display: inline-block
  .social-icons
    text-align: right
