<section class="finished-projects">
  <h2>Finished projects</h2>
  <p>Discover projects just for you and get great recommendations when you select your interests.</p>
  <p>Discover projects just for you and get great</p>
  <p><a href="">Explore more</a></p>

  <div class="row align-center">
    <app-home-article-blog *ngFor="let article of finishedArticles"  [article]="article" class="small-6 columns"></app-home-article-blog>
  </div>
</section>
