<section class="categories">
  <h2>Which categories interest you?</h2>
  <p>Discover projects just for you and get great recommendations when you select your interests.</p>
  <p>Discover projects just for you.</p>

  <div class="row">
    <div class="small-12 large-expand columns">
      <a href="">
        <img
          src="assets/images/icons/laptop.svg"
          alt="triangle with all three sides equal"/>
        CREATIVE WORKS
      </a>
    </div>
    <div class="small-12 large-expand columns">
      <a href="">
        <img
          src="assets/images/icons/flask.svg"
          alt="triangle with all three sides equal"/>
        TECH & INNOVATION</a>
    </div>
    <div class="small-12 large-expand columns">
      <a href="">
        <img
          src="assets/images/icons/community.svg"
          alt="triangle with all three sides equal"/>
        COMMUNITY PROJECTS</a>
    </div>
    <div class="small-12 large-expand columns">
      <a href="">
        <img
          src="assets/images/icons/businessmen.svg"
          alt="triangle with all three sides equal"/>
        SOCIAL PROJECTS</a>
    </div>
    <div class="small-12 large-expand columns">
      <a href="">
        <img
          src="assets/images/icons/star.svg"
          alt="triangle with all three sides equal"/>
        CULTURAL PROJECTS</a>
    </div>
  </div>
</section>
