<footer>
  <div class="row">
    <div class="small-3 columns ">
      <ul>
        <li class="li-title">Explore</li>
        <li><a href="">What we do</a></li>
        <li><a href="">Funding</a></li>
        <li><a href="">Marketplace</a></li>
        <li><a href="">Investing</a></li>
        <li><a href="">Generosity</a></li>
      </ul>
    </div>
    <div class="small-3 columns ">
      <ul>
        <li class="li-title">About</li>
        <li><a href="">About us</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Trust & Safety</a></li>
        <li><a href="">Contacts</a></li>
      </ul>
    </div>
    <div class="small-3 columns ">
      <ul>
        <li class="li-title">Explore</li>
        <li><a href="">What we do</a></li>
        <li><a href="">Funding</a></li>
        <li><a href="">Marketplace</a></li>
        <li><a href="">Investing</a></li>
        <li><a href="">Generosity</a></li>
      </ul>
    </div>

    <div class="small-3 columns social-footer">
      <ul>
        <li class="li-title">Social network</li>
        <li><a href="">What we do</a></li>
        <li><a href="">Funding</a></li>
        <li><a href="">Marketplace</a></li>
        <li><a href="">Investing</a></li>
        <li><a href="">Generosity</a></li>
      </ul>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="small-8 columns ">
      <ul class="info-footer">
        <li>©&nbsp;2017&nbsp;CROWDBEAT. All Rights Reserved</li>
        <li><a href="">Guides</a></li>
        <li><a href="">Terms of Use Privacy</a></li>
      </ul>
    </div>

    <div class="small-4 columns social-icons">
      <ul class="info-footer">
        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li> <a href=""><i class="fa fa-google" aria-hidden="true"></i></a></li>
        <li> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>

</footer>
