<section class="row align-center article-menu">
  <div class="column large-6">
    <figure>
      <img src="assets/images/articles/home-article-1.jpg" alt="">
      <figcaption>
        <h2>Funding</h2>
        <p> Indiegogo's crowdfunding campaigns and InDemand campaigns are where new and groundbreaking projects take flight.
        </p>
        <a href="">See Campaigns</a>
      </figcaption>
    </figure>

  </div>
  <div class="column large-6">
    <figure>
      <img src="assets/images/articles/home-article-2.jpg" alt="">
      <figcaption>
        <h2>Marketplace</h2>
        <p> Indiegogo's crowdfunding campaigns and InDemand campaigns are where new and groundbreaking projects take flight.
        </p>
        <a href="">See Products</a>
      </figcaption>
    </figure>

  </div>
</section>
